<div class="container" ng-controller="loginCtrl">
    <div class="jumbotron">Signup form</h1>
        <br>
        <div id="signup-form" class="row">
            <div class="col-sm-8 col-sm-offset-2 text-center">
                <form>
                    <div class="form-group">
                        <input type="text" class="form-control input-lg text-center" placeholder="Name" ng-model="formData.name">
                        <input type="email" class="form-control input-lg text-center" placeholder="Email" ng-model="formData.email">
                        <input type="text" class="form-control input-lg text-center" placeholder="Password" ng-model="formData.password">

                        <br>
                        <button type="submit" class="btn btn-primary btn-lg" ng-click="addUser()">Login</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="todo-list" class="row">
        <div class="col-sm-4 col-sm-offset-4">
            <div class="checkbox" ng-repeat="todo in todos">

                <table>
                    <tr ng-repeat="todo in todos">
                      <td style="padding-right:10px;">{{ todo.name }}</td>
                      <td style="padding-right:10px;">{{ todo.email }}</td>
                      <td style="padding-right:10px;">{{ todo.pass }}</td>
                      <td><a ng-click="editTodo(todo)">edit</a>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
